@font-face {
    font-family: 'aaalex-ui';
    src: url('fonts/aaalex-ui.ttf') format('truetype');
}

@font-face {
    font-family: 'aaalexgames';
    src: url('fonts/aaalexgames.ttf') format('truetype');
}

:root {
    --black: #000000;
    --dark-ourple: #240724;
    --really-pale-dark-pink: #2b252b;
    --pale-orange: #c29718;
    --aaalex-yellow: #fbff00;
    --pale-yellow: #fafc8c;
    --purple-guy: #8f18c2;
    --neon-purple: #f700ff;
    --plant-green: #18c243;
    --lime-green: #00ff84;
    --blue-green: #18c2a3;
    --miku-blue: #00eaff;
    --dark-pale-blue: #1f1f25;
    --grey-with-a-kewl-name: #2e2e2e;
    --lighter-gay: #979797;
    --eckeckeck: #ececec;
    --tiger-orane: #c25618;
    --average-school-orange: #ffa200;
    --maroon-not-maroon: #6a120d;
    --chara-pronounced-char: #c22118;
    --scratch-ourple: #6600ff;
    --emo-scratch-ourple: #4500ad;
    --kms-ourple: #220354;
    --my-soul-ourple: #100426;
    --why-should-i-ourple-anymore: #15123d;
}

html {
    font-family: 'aaalex-ui', sans-serif;
    background-color: var(--dark-ourple);
    color: var(--aaalex-yellow);
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    list-style-type: none;
}

li {
    padding: 2.5vw;
    
}

navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 17vh;
    max-height: 130px;
    background-color: var(--really-pale-dark-pink);
    z-index: 9999999999;
}

.pageIcon {
    height: 6em;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style-type: none;
}

content {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 80vw;
    height: 200%;
    overflow-y: visible;
    z-index: 0;
    transform: translateX(-50%);
}

a:link {
    color: var(--aaalex-yellow);
    text-decoration: none;
}

a:visited {
    color: var(--aaalex-yellow);
    text-decoration: none;
}

a:hover {
    color: var(--aaalex-yellow);
    text-decoration: underline;
}

a:active {
    color: var(--aaalex-yellow);
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 2.1vh;
    min-height: 65px;
    background-color: var(--really-pale-dark-pink);
    z-index: 9999999999;
}

#version {
    position: fixed;
    bottom: 0px;
    left: 10px;
}

#copyright {
    position: fixed;
    bottom: 0px;
    right: 10px
}

.container{
    display: flex;
    align-items: left;
    gap: 20px;
    display:flex;
    flex-direction: column;
    height: 200px;
    padding: 10px;
}

.container div {
    margin-left: 380px;
    margin-top: -225px;
}

.container img {
    max-width: 300px;
    height: 300px;
    margin-left: 10px;
}

.container-right{
    display: flex;
    align-items: right;
    gap: 20px;
    flex-direction: column;
    height: 200px;
    padding: 10px;
}

.container-right div {
    margin-right: 380px;
    margin-top: -225px;
}

.container-right img {
    position: absolute;
    right: 20px;
    max-width: 300px;
    height: 300px;
    margin-right: 10px;
} 

p {
    font-family: 'aaalexgames', sans-serif;
}

span {
    font-family: 'aaalexgames', sans-serif;
    font-size: 2.5em;
}

.maintextread {
    font-family: 'aaalexgames', sans-serif;
    font-size: 2.5vw;
    color: var(--pale-orange);
}

h1{
    font-size: 3vw;
}

.footerText {
    font-size: 1.5vw;
}